body {
    background: #CCC;
}
canvas {
    background: #2A2;
}
.kontainer {
    width: 1000;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}
aside {
    background-color: lightgreen;
}